{% load i18n %}

<nav
  class="section-nav"
  aria-label="{% trans 'Account sections' %}"
>
  <a
    class="section-nav__link{% if active_section == 'account' %} section-nav__link--active{% endif %}"
    href="{% url 'business_portal:index' %}"
    {% if active_section == "account" %}aria-current="page"{% endif %}
  >
    {% trans "My account" %}
  </a>

  <a
    class="section-nav__link{% if active_section == 'orders' %} section-nav__link--active{% endif %}"
    href="{% url 'business_portal:orders' %}"
    {% if active_section == "orders" %}aria-current="page"{% endif %}
  >
    {% trans "Orders" %}
  </a>
</nav>
