{% load i18n %}
{% autoescape off %}
{% trans "Hello," %}

{% blocktrans trimmed %}
We received a request to reset the password for your SwedeSweets account.
{% endblocktrans %}

{% trans "Reset your password:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Your username:" %}
{{ user.get_username }}

{% blocktrans trimmed %}
If you did not request this password reset, you can ignore this email.
{% endblocktrans %}

SwedeSweets
{% endautoescape %}
