{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "My account" %} | SwedeSweets{% endblock %}

{% block content %}
<h1
  id="account-page-title"
  class="visually-hidden"
>
  {% trans "My account" %}
</h1>

<div
  data-tabs
  aria-labelledby="account-page-title"
>
  {% include "business_portal/includes/account_section_nav.html" with active_tab=active_tab only %}

  {% include "business_portal/includes/account_details_panel.html" %}

  {% include "business_portal/includes/orders_panel.html" %}
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}

  <script
    src="{% static 'js/tabs.js' %}"
    defer
  ></script>

  <script
    src="{% static 'js/clickable_rows.js' %}"
    defer
  ></script>

  <script
    src="{% static 'js/order-history.js' %}"
    defer
  ></script>
{% endblock %}
