{% extends "base.html" %}
{% load static %}

{% block title %}Inventory | SwedeSweets{% endblock %}

{% block content %}
{% include "includes/ui/list_page_head.html" with page_header=page_header %}

{% include "includes/ui/section_nav.html" with section_nav_links=view_links section_nav_aria_label="Inventory view" %}

<section
  id="inventory-list"
  class="list-section"
  aria-labelledby="inventory-title"
  data-async-list
>
  {% include "includes/table/quick_jump_search.html" %}

  {% if filters %}
    {% include "includes/table/filter_chips.html" %}
  {% endif %}

  {% include "includes/table/sort_select.html" %}

  {% if active_view == "products" %}
    {% include "ops_portal/inventory/_product_stock_table.html" %}
  {% else %}
    {% include "ops_portal/inventory/_batch_table.html" %}
  {% endif %}
</section>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/clickable_rows.js' %}" defer></script>
  <script src="{% static 'js/async_list.js' %}" defer></script>
{% endblock %}
