{% if name == "plus" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M12 5v14" />
    <path d="M5 12h14" />
  </svg>
{% elif name == "cart" %}
  <svg
    class="ui-icon-svg"
    viewBox="220 370 200 180"
    fill="none"
    aria-hidden="true"
    focusable="false"
  >
    <path d="M271.21,416.32h128.09c4.15,0,7.29,4.66,6.57,9.74l-9.99,70.51c-.56,3.97-3.33,6.86-6.57,6.86h-103.54c-2.95,0-5.84-.43-7.94-3.66-.88-1.35-1.42-3.02-1.71-4.75l-11.59-70.39c0-4.58,2.99-8.3,6.67-8.3Z"/>
    <path d="M291.91,516.82c-7.85-1.47-10.23,5.55-10.58,10.63-.52,7.43,7.63,13.46,13.87,12.09,6.24-1.37,10.68-8.85,10.77-13.83.18-11.27-11.63-15.66-12.37-16.12"/>
    <path d="M390.62,525.67c.18-10.87-11.71-15.1-12.46-15.55"/>
    <path d="M365.81,527.35c-.53,7.16,7.68,12.98,13.97,11.66,6.29-1.32,10.76-8.53,10.84-13.34"/>
    <path d="M376.47,517.1c-7.9-1.41-10.3,5.35-10.66,10.25"/>
    <path d="M240.31,390.87c11.03-11.59,14.35,8.16,1.26,11.32-4.44,1.07-11.44-.13-11.69-8.33-.2-6.31,4.97-11.44,9.41-13.44,7.08-3.19,15.25-.73,19.92,3.22,3.84,3.25,5.29,7.5,6.34,10.6,1.43,4.21,1.54,7.66,1.59,9.84.07,3.21-.4,11.64-2.55,17.58"/>
  </svg>
{% elif name == "cart_old" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M3 4h2l2.2 11.2a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 1.9-1.4L21 8H7" />
    <circle cx="10" cy="21" r="1" />
    <circle cx="18" cy="21" r="1" />
  </svg>
{% elif name == "box" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M21 8.5 12 3 3 8.5 12 14l9-5.5Z" />
    <path d="M3 8.5V16l9 5 9-5V8.5" />
    <path d="M12 14v7" />
  </svg>
{% elif name == "truck" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M3 6h11v10H3z" />
    <path d="M14 10h4l3 3v3h-7z" />
    <circle cx="7" cy="19" r="1.5" />
    <circle cx="18" cy="19" r="1.5" />
  </svg>
{% elif name == "users" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M16 21v-2a4 4 0 0 0-4-4H7a4 4 0 0 0-4 4v2" />
    <circle cx="9.5" cy="7" r="4" />
    <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
    <path d="M16 3.13a4 4 0 0 1 0 7.75" />
  </svg>
{% elif name == "tag" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M20.6 13.1 13.1 20.6a2 2 0 0 1-2.8 0L3 13.3V3h10.3l7.3 7.3a2 2 0 0 1 0 2.8Z" />
    <circle cx="7.5" cy="7.5" r="1" />
  </svg>
{% elif name == "check" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M20 6 9 17l-5-5" />
  </svg>
{% elif name == "warning" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M12 3 2.5 20h19L12 3Z" />
    <path d="M12 9v5" />
    <path d="M12 17h.01" />
  </svg>
{% elif name == "mail" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M4 6h16v12H4z" />
    <path d="m4 7 8 6 8-6" />
  </svg>
{% elif name == "phone" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M22 16.9v3a2 2 0 0 1-2.2 2 19.8 19.8 0 0 1-8.6-3.1 19.4 19.4 0 0 1-6-6A19.8 19.8 0 0 1 2.1 4.2 2 2 0 0 1 4.1 2h3a2 2 0 0 1 2 1.7c.1.9.3 1.8.6 2.6a2 2 0 0 1-.5 2.1L8 9.6a16 16 0 0 0 6.4 6.4l1.2-1.2a2 2 0 0 1 2.1-.5c.8.3 1.7.5 2.6.6a2 2 0 0 1 1.7 2Z" />
  </svg>
{% elif name == "map-pin" %}
  <svg class="ui-icon-svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" focusable="false">
    <path d="M12 21s7-5.2 7-12a7 7 0 1 0-14 0c0 6.8 7 12 7 12Z" />
    <circle cx="12" cy="9" r="2.3" />
  </svg>
{% endif %}
