<dl class="detail-data-list">
  <div>
    <dt>Name</dt>
    <dd>{{ customer.name }}</dd>
  </div>

  <div>
    <dt>Country</dt>
    <dd>{{ customer.country_name }}</dd>
  </div>

  <div>
    <dt>City</dt>
    <dd>{{ customer.city }}</dd>
  </div>

  <div>
    <dt>Address</dt>
    <dd>{{ customer.address_line }}</dd>
  </div>

  <div>
    <dt>Email</dt>
    <dd>
      <a class="text-link" href="mailto:{{ customer.email }}">
        {{ customer.email }}
      </a>
    </dd>
  </div>

  <div>
    <dt>Phone</dt>
    <dd>
      <a class="text-link" href="tel:{{ customer.phone_number }}">
        {{ customer.phone_number }}
      </a>
    </dd>
  </div>

  <div>
    <dt>Map</dt>
    <dd>
      <a
        class="text-link"
        href="https://www.google.com/maps/search/?api=1&query={{ customer.address|urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        Open in maps →
      </a>
    </dd>
  </div>
</dl>
